<h1> ê°œì¸ê³¼ì œ </h1>
<h2> ì£¼í”¼í„°ë©ì—ì„œ ë°ì´í„°ë¥¼ ì…ë ¥ë°›ìœ¼ë©´ 3ê°€ì§€ DBì— ë™ì‹œì— CRUDê°€ ë˜ëŠ” ì‹œìŠ¤í…œì„ ë§Œë“¤ì–´ë¼. </h2>
<h3> ì˜ˆ) inputì„ ì´ìš©í•˜ì—¬ <ì´ë¦„:> í™ê¸¸ë™ (ì—”í„°), <ë‚˜ì´> 33 (ì—”í„°), <ì£¼ì†Œ> í•´ìš´ëŒ€êµ¬ (ì—”í„°)</h3>
<h3> ì…ë ¥í•˜ê³ , ë°ì´í„°ë¥¼ ê²€ìƒ‰í•˜ê³ , ì´ë¦„ì„ ê³ ë¥´ê³  ìˆ˜ì •í•˜ê³ , ì‚­ì œ ê°€ëŠ¥í•˜ê²Œí•˜ë¼</h3>

In [7]:
str = """
    1. ë°ì´í„° ë“±ë¡
    2. ë°ì´í„° ì½ê¸°
    3. ë°ì´í„° ìˆ˜ì •
    4. ë°ì´í„° ì‚­ì œ
    5. ì¢…ë£Œ
    ê³ ë¥´ì„¸ìš”.
    """
while True:
    print(str)
    inp = input("ì„ íƒí•˜ì„¸ìš”: ")
    print(inp,'ê³ ë¥´ì…¨ë„¤ìš”.')
    if inp == '1':
        inp1 = input("ì´ë¦„ì„ ì…ë ¥í•˜ì„¸ìš”")
        inp2 = input("ë‚˜ì´ë¥¼ ì…ë ¥í•˜ì„¸ìš”")
        inp3 = input("ì£¼ì†Œë¥¼ ì…ë ¥í•˜ì„¸ìš”")
        print(inp1,inp2,inp3)
    # ë°ì´í„° ì½ê¸°
    if inp == '2': pass
    if inp == '3': pass
    if inp == '4': pass
    if inp == '5':
        print("ì¢…ë£Œí•©ë‹ˆë‹¤.")
        break

    1. ë°ì´í„° ë“±ë¡
    2. ë°ì´í„° ì½ê¸°
    3. ë°ì´í„° ìˆ˜ì •
    4. ë°ì´í„° ì‚­ì œ
    5. ì¢…ë£Œ
    ê³ ë¥´ì„¸ìš”.

ì„ íƒí•˜ì„¸ìš”:  2

2 ê³ ë¥´ì…¨ë„¤ìš”.

    1. ë°ì´í„° ë“±ë¡
    2. ë°ì´í„° ì½ê¸°
    3. ë°ì´í„° ìˆ˜ì •
    4. ë°ì´í„° ì‚­ì œ
    5. ì¢…ë£Œ
    ê³ ë¥´ì„¸ìš”.

ì„ íƒí•˜ì„¸ìš”:  5

5 ê³ ë¥´ì…¨ë„¤ìš”.
ì¢…ë£Œí•©ë‹ˆë‹¤.

In [10]:
# ---------mysql-------------

In [3]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="mysql", # MySQL ì„œë²„ ì£¼ì†Œ 
        user="root",
        password="1234"
    )
    if conn.is_connected():
        print("MySQL ì„œë²„ì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.")
except mysql.connector.Error as err:
    print("MySQL ì—°ê²° ì‹¤íŒ¨:", err)
finally:
    if conn.is_connected():
        print("ì—°ê²°ì¤‘...")

MySQL ì„œë²„ì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.
ì—°ê²°ì¤‘...

In [4]:
# MYSQLì— ì—°ê²°
conn = mysql.connector.connect(
    host="mysql", # MySQL ì„œë²„ ì£¼ì†Œ
    user="root",
    password="1234",
    database="judb" # ì‚¬ìš©í•  ë°ì´í„° ë² ì´ìŠ¤
    )
cursor = conn.cursor()
print("MySQL ì—°ê²° ì„±ê³µâ­")

MySQL ì—°ê²° ì„±ê³µâ­

In [6]:
# ë‹¨ì¼ ë°ì´í„° ì‚½ì…
sql = "INSERT INTO sql_tb (name, age, city) VALUES (%s, %s, %s)"
values = ("Alice", 25, "Seoul")
cursor.execute(sql, values)
conn.commit()
print("1ê°œì˜ ë°ì´í„° ì‚½ì… ì™„ë£Œ, ID:", cursor.lastrowid)

1ê°œì˜ ë°ì´í„° ì‚½ì… ì™„ë£Œ, ID: 3

In [9]:
# ---------mongoDB-------------

In [11]:
from pymongo import MongoClient
client = MongoClient("mongodb://mongodb:27017")

try:
    print(client.admin.command('ping'))
    print("MongoDB ì„œë²„ì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.")
except Exception as e:
    print("MongoDB ì„œë²„ ì—°ê²° ì‹¤íŒ¨:", e)

{'ok': 1.0}
MongoDB ì„œë²„ì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.

In [12]:
# ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì„ íƒ
db = client["mdb"]
print("ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì„ íƒë¨")

# ì‚¬ìš©í•  ì»¬ë ‰ì…˜ ì„ íƒ
collection = db["c2"]
print("ì‚¬ìš©í•  ì»¬ë ‰ì…˜ ì„ íƒë¨")

ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì„ íƒë¨
ì‚¬ìš©í•  ì»¬ë ‰ì…˜ ì„ íƒë¨

In [13]:
#---------oracle----------------

In [14]:
import oracledb
    # ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì‹œë„ !!
try:
    conn = oracledb.connect(
        user="pknu",
        password="1234",
        dsn="oracle/XEPDB1"
    )
    print("Oracle ë°ì´í„°ë² ì´ìŠ¤ì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²° ë˜ì—ˆìŠµë‹ˆë‹¤ !")
    cursor = conn.cursor()
except Exception as e:
    print("Oracle ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì‹¤íŒ¨: ", e)

Oracle ë°ì´í„°ë² ì´ìŠ¤ì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²° ë˜ì—ˆìŠµë‹ˆë‹¤ !

In [15]:
# í…Œì´ë¸” ìƒì„±
query = """
BEGIN
    EXECUTE IMMEDIATE '
        CREATE TABLE students2 (
            id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            name VARCHAR2(50),
            age NUMBER,
            email VARCHAR2(100)
        )
    ';
EXCEPTION
    WHEN OTHERS THEN
        IF SQLCODE != -955 THEN
            RAISE;
        END IF;
END;
"""
cursor.execute(query)
print("í…Œì´ë¸” ìƒì„± ì™„ë£Œ")

í…Œì´ë¸” ìƒì„± ì™„ë£Œ

In [17]:
# MongoDB
mongo_client = MongoClient("mongodb://localhost:27017")
mongo_db = mongo_client['mdb']
print("â­mongoDBâ­ ë°ì´í„°ë² ì´ìŠ¤ ì„ íƒì™„ë£ŒğŸˆ")
mongo_collection = mongo_db['c2']
print("â­mongoDBâ­ ì»¬ë ‰ì…˜ ì„ íƒì™„ë£ŒğŸˆ")

# MySQL
conn = mysql.connector.connect(
    host="mysql", # MySQL ì„œë²„ ì£¼ì†Œ
    user="root",
    password="1234",
    database="judb" # ì‚¬ìš©í•  ë°ì´í„° ë² ì´ìŠ¤
    )
cursor = conn.cursor()
print("â­MySQLâ­ ì—°ê²° ì„±ê³µğŸˆâ€â¬›")

# Oracle
try:
    conn = oracledb.connect(
        user="pknu",
        password="1234",
        dsn="oracle/XEPDB1"
    )
    print("â­oracleâ­ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„±ê³µ ğŸ•")
    cursor = conn.cursor()
except Exception as e:
    print("â­Oracleâ­ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì‹¤íŒ¨ ğŸ•: ", e)



str = """
    1. ë°ì´í„° ë“±ë¡
    2. ë°ì´í„° ì½ê¸°
    3. ë°ì´í„° ìˆ˜ì •
    4. ë°ì´í„° ì‚­ì œ
    5. ì¢…ë£Œ
    ê³ ë¥´ì„¸ìš”.
    """

# ë°ì´í„° ë“±ë¡
def insert_data():
    name = input("ì´ë¦„ì„ ì…ë ¥í•˜ì„¸ìš”: ")
    age = int(input("ë‚˜ì´ë¥¼ ì…ë ¥í•˜ì„¸ìš”: "))
    address = input("ì£¼ì†Œë¥¼ ì…ë ¥í•˜ì„¸ìš”: ")

    # MongoDB
    mongo_collection.insert_one({
        "name": name,
        "age": age,
        "address": address
    })

    # MySQL
    mysql_cursor.execute(
        "INSERT INTO sql_tb (name, age, address) VALUES (%s, %s, %s)",
        (name, age, address)
    )
    mysql_conn.commit()

    # Oracle
    oracle_cursor.execute(
        "INSERT INTO students2 (name, age, address) VALUES (ISEQ$$_75981.NEXTVAL, :1, :2, :3)",
        (name, age, address)
    )
    oracle_conn.commit()

    print(" ëª¨ë“  DB ë°ì´í„° ì…ë ¥ ì™„ë£Œ â€¼ï¸")

# ë°ì´í„° ì½ê¸°
def read_data():
    print("MongoDB ì½ê¸°")
    for mong in mongo_collection.find():
        print(mong)

    print("MySQL ì½ê¸°")
    mysql_cursor.execute("SELECT * FROM users")
    for ms in mysql_cursor.fetchall():
        print(ms)

    print("Oracle ì½ê¸°")
    oracle_cursor.execute("SELECT * FROM users")
    for oc in oracle_cursor.fetchall():
        print(oc)

# ë°ì´í„° ìˆ˜ì •
def update_data():
    name = input("ì´ë¦„ì„ ì…ë ¥í•˜ì„¸ìš”: ")
    age = int(input("ë‚˜ì´ë¥¼ ì…ë ¥í•˜ì„¸ìš”: "))
    address = input("ì£¼ì†Œë¥¼ ì…ë ¥í•˜ì„¸ìš”: ")
    # mongoDB ìˆ˜ì •
    update_mong = collection.updateone({"name":name},{"age":age},{"address":address})
    print("MongoDB ìˆ˜ì •ì™„ë£Œâ­â€¼ï¸",update_mong)
    # MySQL ìˆ˜ì •
    sql = "UPDATE sql_tb SET name = %s, age = %s "
    values = (29,"Alice")
    cursor.execute(sql, values)
    conn.commit()
    conn.commit()
    print("ìˆ˜ì •ëœ í–‰ ê°œìˆ˜:", cursor.rowcount)
        

    
    

    

while True:
    print(str)
    inp = input("ì„ íƒí•˜ì„¸ìš”: ")
    print(inp,'ê³ ë¥´ì…¨ë„¤ìš”.')
    if inp == '1':
        inp1 = input("ì´ë¦„ì„ ì…ë ¥í•˜ì„¸ìš”")
        inp2 = input("ë‚˜ì´ë¥¼ ì…ë ¥í•˜ì„¸ìš”")
        inp3 = input("ì£¼ì†Œë¥¼ ì…ë ¥í•˜ì„¸ìš”")
        
        print(inp1,inp2,inp3)
    # ë°ì´í„° ì½ê¸°
    if inp == '2': pass
    if inp == '3': pass
    if inp == '4': pass
    if inp == '5':
        print("ì¢…ë£Œí•©ë‹ˆë‹¤.")
        break

â­mongoDBâ­ ë°ì´í„°ë² ì´ìŠ¤ ì„ íƒì™„ë£ŒğŸˆ
â­mongoDBâ­ ì»¬ë ‰ì…˜ ì„ íƒì™„ë£ŒğŸˆ
â­MySQLâ­ ì—°ê²° ì„±ê³µğŸˆâ€â¬›
â­oracleâ­ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„±ê³µ ğŸ•

    1. ë°ì´í„° ë“±ë¡
    2. ë°ì´í„° ì½ê¸°
    3. ë°ì´í„° ìˆ˜ì •
    4. ë°ì´í„° ì‚­ì œ
    5. ì¢…ë£Œ
    ê³ ë¥´ì„¸ìš”.

ì„ íƒí•˜ì„¸ìš”:  5

5 ê³ ë¥´ì…¨ë„¤ìš”.
ì¢…ë£Œí•©ë‹ˆë‹¤.