In [4]:
# !pip install cx_Oracle
# 기존방법
# import cx_Oracle
# dsn = cx_Oracle.makedsn("oracledb",service_name="XEPDB1")
# conn = cx_Oracle.connect(user="pknu", password="1234", dsn=dsn)
# cursor = conn.coursor()

In [5]:
# !pip install oracledb # 고급기능은 thick 모드로 변경할 때 기존 cx_Oracle버전처럼 instante_Client가 필요함

In [3]:
import oracledb
    # 데이터베이스 연결 시도 !!
try:
    conn = oracledb.connect(
        user="pknu",
        password="1234",
        dsn="oracle/XEPDB1"
    )
    print("Oracle 데이터베이스에 성공적으로 연결 되었습니다 !")
    cursor = conn.cursor()
except Exception as e:
    print("Oracle 데이터베이스 연결 실패: ", e)

Oracle 데이터베이스에 성공적으로 연결 되었습니다 !

In [6]:
# 테이블 생성
query = """
BEGIN
    EXECUTE IMMEDIATE '
        CREATE TABLE students (
            id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            name VARCHAR2(50),
            age NUMBER,
            email VARCHAR2(100)
        )
    ';
EXCEPTION
    WHEN OTHERS THEN
        IF SQLCODE != -955 THEN
            RAISE;
        END IF;
END;
"""
cursor.execute(query)
print("테이블 생성 완료")

테이블 생성 완료

In [7]:
# Create 한개의 데이터 삽입
que = "INSERT INTO students (name, age, email) VALUES (:1, :2, :3)"
values = ("홍길동",20,"hong@where.myfather")
cursor.execute(que,values)
conn.commit()
print("데이터 삽입 완료되었습니다.⭐")

데이터 삽입 완료되었습니다.⭐

In [8]:
# Create 여러개의 데이터 삽입
que = "INSERT INTO students (name, age, email) VALUES (:1, :2, :3)"
values = [("superman",33,"Busan@bb.co.kr"),("Cutegirl",17,"kkk@jeju.co.kr"),("Coolboy",22,"hhh@Jeju.ogg")]
cursor.executemany(que,values)
conn.commit()
print("여러개의 데이터 삽입 완료!⭐")

여러개의 데이터 삽입 완료!⭐

In [9]:
#Read 데이터 조회
que = "SELECT * FROM students"
cursor.execute(que)
#모든 데이터 조회
users = cursor.fetchall()
print("학생목록:")
for u in users:
    print(u)

학생목록:
(1, '홍길동', 20, 'hong@where.myfather')
(2, 'superman', 33, 'Busan@bb.co.kr')
(3, 'Cutegirl', 17, 'kkk@jeju.co.kr')
(4, 'Coolboy', 22, 'hhh@Jeju.ogg')

In [10]:
# Updatee 데이터 수정
que = "UPDATE students SET age = :2 WHERE name = :2"
values = (25,"홍길동")
cursor.execute(que, values)
print("데이터가 성공적으로 수정되었습니다.⭐")

데이터가 성공적으로 수정되었습니다.⭐

In [12]:
# Delete 데이터 삭제
que = "DELETE FROM students WHERE name = :1"
values = ("홍길동",)
cursor.execute(que, values)
print("데이터 삭제 ⭐")

데이터 삭제 ⭐