In [34]:
import pandas as pd
file_path = "./subway/서울시지하철호선별역별승하차인원정보.csv"
df = pd.read_csv(file_path,encoding='EUC-KR')
data4 = df[df['호선명']=='4호선']
data4

           사용일자  호선명          역명  승차총승객수  하차총승객수      등록일자
88     20250222  4호선          길음   17290   17079  20250225
103    20250222  4호선         남태령    1399     795  20250225
110    20250222  4호선          노원   19829   21868  20250225
120    20250222  4호선         당고개    8467    7908  20250225
155    20250222  4호선         동대문   16588   17619  20250225
...         ...  ...         ...     ...     ...       ...
24010  20250115  4호선   총신대입구(이수)   20741   22436  20250118
24012  20250115  4호선         충무로   32937   33492  20250118
24040  20250115  4호선  한성대입구(삼선교)   13660   13420  20250118
24048  20250115  4호선          혜화   38526   38258  20250118
24061  20250115  4호선   회현(남대문시장)   29419   30878  20250118

[1014 rows x 6 columns]

In [46]:
columns = ['date','line_name','name','b_subway','g_subway','upload']
data4.columns = columns
data4.loc[:,:'g_subway']
data4

           date line_name        name  b_subway  g_subway    upload
88     20250222       4호선          길음     17290     17079  20250225
103    20250222       4호선         남태령      1399       795  20250225
110    20250222       4호선          노원     19829     21868  20250225
120    20250222       4호선         당고개      8467      7908  20250225
155    20250222       4호선         동대문     16588     17619  20250225
...         ...       ...         ...       ...       ...       ...
24010  20250115       4호선   총신대입구(이수)     20741     22436  20250118
24012  20250115       4호선         충무로     32937     33492  20250118
24040  20250115       4호선  한성대입구(삼선교)     13660     13420  20250118
24048  20250115       4호선          혜화     38526     38258  20250118
24061  20250115       4호선   회현(남대문시장)     29419     30878  20250118

[1014 rows x 6 columns]

In [47]:
data = data4.groupby(by='name').sum().reset_index()
tdata = data[['name','b_subway','g_subway']]
tdata

              name  b_subway  g_subway
0               길음    728418    713230
1              남태령     48559     40108
2               노원    746364    838883
3              당고개    335491    294670
4              동대문    627811    651852
5   동대문역사문화공원(DDP)    675838    588841
6          동작(현충원)     51223     53992
7               명동   1199198   1268412
8      미아(서울사이버대학)    538757    518240
9            미아사거리    931395    921514
10              사당    855774    833815
11             삼각지    235864    273468
12              상계    682610    640397
13             서울역    417763    820708
14      성신여대입구(돈암)    758276    743551
15        수유(강북구청)   1202427   1209064
16        숙대입구(갈월)    498531    489145
17             신용산    746914    804720
18              쌍문   1027701    955350
19     이촌(국립중앙박물관)    367386    393778
20              창동    959684   1011211
21       총신대입구(이수)    687288    744391
22             충무로    991501   1018741
23      한성대입구(삼선교)    462140    451961
24              혜화   1309762   1318130
25       회현(남대문시장)    922240    958198